body {
    margin: 8px;
    font-family: sans-serif;
}

.output {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 4px;
}

.color-palette .item {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
    transform: scale(1.1);
}
